fastapi==0.110.0
uvicorn==0.29.0
sqlalchemy==2.0.25
pydantic==2.6.4
pydantic-core==2.16.3
langchain==0.1.16
langchain-core==0.1.52
langchain-community
langchain-google-genai
google-generativeai==0.7.0
python-dotenv==1.0.1
requests==2.32.3
aiohttp==3.9.3
orjson==3.9.15
zstandard==0.22.0
